In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s1=pd.Series([10,20,30,40,50])
print(s1)
print(type(s1))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
print(s1.index)

RangeIndex(start=0, stop=5, step=1)

In [5]:
print(s1.values)

[10 20 30 40 50]

In [6]:
print(type(s1.values))

<class 'numpy.ndarray'>

In [8]:
index_date=['2022-03-20','2022-03-21','2022-03-22','2022-03-23']
s4=pd.Series([200,187,np.nan,210],index=index_date)
s4.index.name="날짜"
s4.name="날짜 데이터"
print(s4)

날짜
2022-03-20    200.0
2022-03-21    187.0
2022-03-22      NaN
2022-03-23    210.0
Name: 날짜 데이터, dtype: float64

In [9]:
s5=pd.Series({'국어':100,'영어':95,'수학':100})
print(s5)

국어    100
영어     95
수학    100
dtype: int64

In [10]:
p=pd.date_range(start="2022-01-20", end="2022-01-27")
print(p)

DatetimeIndex(['2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23',
               '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27'],
              dtype='datetime64[ns]', freq='D')

In [11]:
p=pd.date_range(start="2022-01-20", periods=7)
print(p)

DatetimeIndex(['2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23',
               '2022-01-24', '2022-01-25', '2022-01-26'],
              dtype='datetime64[ns]', freq='D')

In [13]:
p=pd.date_range(start="2022-01-20", periods=4,freq='w')
print(p)

DatetimeIndex(['2022-01-23', '2022-01-30', '2022-02-06', '2022-02-13'], dtype='datetime64[ns]', freq='W-SUN')

In [14]:
p=pd.date_range(start="2022-01-03",periods=4,freq='QS')
print(p)

DatetimeIndex(['2022-04-01', '2022-07-01', '2022-10-01', '2023-01-01'], dtype='datetime64[ns]', freq='QS-JAN')

In [17]:
kbh=pd.offsets.CustomBusinessHour(start='09:00',end='18:00',weekmask="Mon Tue Wed Thu Fri")
p=pd.date_range(start="2022-01-01 08:00",periods=10,freq=kbh)
print(p)

DatetimeIndex(['2022-01-03 09:00:00', '2022-01-03 10:00:00',
               '2022-01-03 11:00:00', '2022-01-03 12:00:00',
               '2022-01-03 13:00:00', '2022-01-03 14:00:00',
               '2022-01-03 15:00:00', '2022-01-03 16:00:00',
               '2022-01-03 17:00:00', '2022-01-04 09:00:00'],
              dtype='datetime64[ns]', freq='CBH')